* {
  box-sizing: border-box;
}
:root {
  --primary-background: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-align: center;
  padding: 0;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Sora", sans-serif;
}
.btn:hover {
  opacity: 0.5;
  transition: all ease 0.5s;
}
.section-heading {
  color: #10375c;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  display: block;
  margin: 16px auto 70px;
  text-align: center;
  width: 468px;
  color: #575f66;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.66; /* 166.667% */
}
/* logo */
.logo {
  display: inline-flex;
  /*Can't break out new line when screen small*/
  position: relative;
  font-size: 1rem;
}
.logo__circle::after,
.logo__circle::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
}
.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: #2e80ce;
}
.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background-color: #fff;
}
.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}
.logo__brand {
  display: block;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 400;
}
.logo__brand-small {
  display: block;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 300;
}
/* control <back> and <next> */
.control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  gap: 22px;
}
.control__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #575f66;
}
.control__btn-svg {
  color: #575f66;
}

.control__btn:hover {
  background-color: #2e80ce;
  border: none;
  transition: all ease 0.5s;
  cursor: pointer;
}
.control__btn:hover .control__btn-svg {
  color: #ffffff;
}
/* Header */
.header {
  min-height: 100vh;
  background-color: var(--primary-background);
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.navbar__list {
  display: flex;
  gap: 42px;
  margin-left: 91px;
}
.navbar__link {
  color: #c9d2da;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover {
  color: #fff;
  /* font-weight: 400; */
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  content: "";
  position: relative;
  top: -2px;
  right: 8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.header-action {
  display: flex;
  align-items: center;
}
.action__link {
  margin-right: 26px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.action__link:hover {
  text-shadow: 1px 0 0 currentColor;
}
.action__btn {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}
/* Hero */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 0 110px 0;
}
.hero__heading {
  width: 517px;
  color: #fff;
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.143; /* 114.286% */
}
.hero__desc {
  width: 468px;
  margin-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.667; /* 166.667% */
}
.hero__btn {
  margin: 38px 38px 0 0;
}
.hero__phone-number {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.667; /* 166.667% */
}
.hero__images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__img-1,
.hero__img-2 {
  border-radius: 6px;
  object-fit: cover;
}
.hero__img-1 {
  position: relative;
  width: 330px;
  height: 540px;
}
.hero__img-2 {
  width: 210px;
  height: 410px;
  margin-left: -6px;
}
/* Service */
.service {
  margin: 60px 0;
  padding: 110px 0;
}

.service-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}
.service__item {
  display: flex;
  align-items: center;
  padding: 21px 18px 20px 22px;
  width: 470px;
  height: 128px;
}
.service__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #10375c;
  background-color: #eff6fd;
}
.service__item:hover {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}
.service__item:hover .service__icon-wrap {
  background-color: #2e80ce;
  color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}
.service__item--content {
  margin-left: 19px;
}
.service__item--heading {
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.service__item--desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.service__btn {
  margin-top: 55px;
}

/* How it work */
.work {
  padding: 100px 0;
  background-color: #f6fbff;
}
.work__heading,
.work__desc {
  text-align: left;
}
.work__desc {
  margin: 18px 0 70px;
}

.work-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work-item {
  border: 16px solid #eaf6ff;
  border-radius: 4px;
}
.work-item:hover {
  transition: all ease 0.5s;
  transform: translateY(-16px);
  border: 16px solid #2e80ce;
}
.work-item:hover .work-item__link {
  font-weight: 400;
  color: #2e80ce;
}
.work-item__content {
  padding: 43px 42px 43px 42px;
  width: 338px;
  height: 370px;
  border-radius: 4px;
}
.work-item__icon {
  width: 72px;
  height: 72px;
}
.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.385; /* 138.462% */
}
.work-item__desc {
  margin: 28px 0 18px;
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.work-item__link {
  color: #575f66;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
/* Feature */
.feature {
  margin: 170px 0;
}
.feature__inner {
  display: flex;
  align-items: center;
  gap: 130px;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}
.feature__img-01 {
  width: 512px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}
.feature__img-02 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 332px;
  height: 370px;
  border-radius: 6px;
  object-fit: cover;
}
.feature__heading,
.feature__desc {
  text-align: left;
}
.feature__desc {
  margin: 18px 0 32px;
}
/* transform: translateX(-100%); */
/* Member */
.member-btn {
  display: block;
  margin: 38px auto 0;
  max-width: 205px;
}
.member-run-list {
  display: flex;
  overflow: hidden;
}
.member-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 70px;
  width: 100%;
  flex-shrink: 0;
  transition: all ease 1s;
}
.member-item__img-bg {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 270px;
  height: 318px;
  border-radius: 6px;
  background: #eaf6ff;
  overflow: hidden;
}
.member-item__img-bg:hover .member-item__img {
  transform: scale(1.1);
  transition: all ease 0.5s;
  cursor: pointer;
}
.member-item__img {
  width: 262px;
  height: 290px;
  object-fit: cover;
}
.member-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}
.member-item__title {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}
/* Install */
.install {
  margin: 265px 0 170px;
}
.install__body {
  display: flex;
  align-items: center;
  gap: 160px;
  background-color: #2e80ce;
}
.install__img {
  display: block;
  width: 284px;
  height: 522px;
  margin: -95px 0 0 70px;
  object-fit: cover;
}
.install__content {
  max-width: 586px;
}
.install-heading {
  width: 489px;
  color: #ffffff;
  text-align: left;
  letter-spacing: -1px;
}
.install-desc {
  color: #fff;
  text-align: left;
  width: 586px;
  margin-bottom: 38px;
}

.install__btn {
  background: transparent;
  border: none;
}
.install__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in 0.3s;
}
/* News */
.news {
  padding-bottom: 170px;
}
.news__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}
.news__content {
  width: 40.2%;
}
.news-heading {
  text-align: left;
}
.news-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.news__link {
  display: block;
  margin-top: 28px;
  color: #10375c;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.55;
}
.news__link:hover {
  color: #2e80ce;
  text-decoration-line: underline;
  text-underline-offset: 4px;
}
.news-control {
  justify-content: start;
  margin: 28px 0 0 0;
}
.news-item {
  width: 270px;
  height: 375px;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
}
.news-item:hover,
.news-item:hover .news-item__img {
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}
.news-item:hover .news-item__link {
  color: #2e80ce;
}
.news-item__img {
  display: block;
  margin-left: -1px;
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
}
.news-item__content {
  padding-left: 22px;
}
.news-item__heading {
  display: block;
  margin-top: 18px;
  color: #10375c;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.625; /* 162.5% */
}
.new-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.72; /* 171.429% */
}
.news-item__link {
  display: block;
  margin-top: 12px;
  color: #10375c;
  font-size: 14px;
  font-weight: 400;
}
