* {
  box-sizing: border-box;
}
:root {
  --primary-background: #10375c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-align: center;
  padding: 0;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #2e80ce;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Sora", sans-serif;
}
.btn:hover {
  opacity: 0.5;
}
/* logo */
.logo {
  display: inline-flex;
  /*Can't break out new line when screen small*/
  position: relative;
  font-size: 1rem;
}
.logo__circle::after,
.logo__circle::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
}
.logo__circle::before {
  width: 3em;
  height: 3em;
  background-color: #2e80ce;
}
.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6em;
  height: 1.6em;
  background-color: #fff;
}
.logo__text {
  margin-left: 0.6em;
  text-align: right;
  line-height: 1.6em;
}
.logo__brand {
  display: block;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 400;
}
.logo__brand-small {
  display: block;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 300;
}

/* Header */
.header {
  min-height: 100vh;
  background-color: var(--primary-background);
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.navbar__list {
  display: flex;
  gap: 42px;
  margin-left: 91px;
}
.navbar__link {
  color: #c9d2da;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75; /* 175% */
}
.navbar__link:hover {
  color: #fff;
  /* font-weight: 400; */
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
  content: "";
  position: relative;
  top: -2px;
  right: 8px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
}
.action__link {
  margin-right: 26px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}
.action__link:hover {
  text-shadow: 1px 0 0 currentColor;
}
.action__btn {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
}
